output/**
venv
.git/
.idea/
_pycache_
*.pyc
*.log
sharing_data
test/**
#dataset/**
src/train/other_functions/docker/*
train_results/*
*processed_result.csv
*SPR-220927-231027_all.csv
*EMR-230427-231027_all.csv
*train_data*.csv
*test_data*.csv
ss2/*
stunning-guacamole/*
weights/*
spr-emr/*
infer_results/*
*.joblib
model_history/*
src/other_research/spec/output/*
test_power.csv
```
